.wrapper{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	overflow: hidden;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
/*	background: pink;
*/}
.logo img {
	max-width: 100%;
	width: 100px;
	height: 100px;

}
.main-nav a {
	text-decoration: none;
	color: inherit;
}

.main-nav ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.main-nav li {
	padding: 10px;
	list-style: none;
	/*display: inline-block;	*/
}
.product-items-col img {
  	float:left;
    margin: 15px 15px;
}
.product-items-col-1 {
	overflow: auto;
	display: inline-block;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	width: 33.333%;
	box-sizing: border-box;
	padding: 10px 10px;
}
.items-1{
	border: 1px solid #888;
	color: black;
}
.collection-text {
	padding: 10px 20px 20px 20px;
}
.items-1 a:hover {
	color: pink;
}
.footer {
	align-items: flex-end;
	justify-content:space-around;
	display: flex;
}
.logo-footer img {
	padding:20px 10px;
	width: 80px;
	height: 50px;
}
.address {
/*	margin-top: -70px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;*/
}
.product-items-all div:nth-child(3n+1) {
	padding: 10px 10px;
	display: flex;
	flex-direction: row;
}
.product-items-all div:nth-child(2n) {
	padding: 10px 10px;
	display: flex;
	flex-direction: row-reverse;
}
.photo img{
	width: 150px;
	height: 150px;
}
.product-items-row .text-into-row {
	padding: 0px 30px;
}
.line{
	padding-left:10px;
	width: 1200px;
    border-bottom: 2px solid maroon;
    font-weight: normal;
}
.line-footer {
	padding-left:10px;
	padding-top: 900px;
	width: 1200px;
    border-bottom: 2px solid maroon;
    font-weight: normal;
}
@media screen and (max-width: 768px) {
		.product-items-col-1 {
			padding: 10px 50px;
			width: 50%;
		}
		.collection-text {
			padding: 8px 8px;
			font-size: 10px;
		}
		.line-footer {
			padding-top: 1300px;
		}
		.header {
/*			background: blue;
*/		}
}
@media screen and (max-width: 375px) {
		.product-items-col-1 {
			padding: 8px 5px;
			width: 100%;
			padding: 5px 5px;
		}
		.collection-text {
			padding: 8px 8px;
			font-size: 12px;
		}
		.line-footer {
			padding-top: 1300px;
		}
		.header img {
			width: 50px;
			height: 50px;
/*			background: red;
*/		}
		.product-items-col img {
  		 	margin: 8px 8px;
		}
		.text-into-row {
			font-size: 10px;
		}
		.address {
			font-size: 10px;
		}
		.logo-footer img {
			width: 30px;
			height: 30px;
		}
}